package ${packageName}.domain.entity;

import com.hbhs.common.domain.model.BaseEntity;
import lombok.*;

@Getter
@Setter
@ToString(callSuper = true)
@Builder
@NoArgsConstructor@AllArgsConstructor
public class ${entityClassName}Entity extends BaseEntity {
${prefixField}
}
