package ${packageName}.api.client;

import ${packageName}.api.endpoint.${entityClassName}Endpoint;
import ${packageName}.api.fallback.${entityClassName}ClientFallback;
import org.springframework.cloud.openfeign.FeignClient;

@FeignClient(name = "${artifactId}", fallback = ${entityClassName}ClientFallback.class)
public interface ${entityClassName}Client extends ${entityClassName}Endpoint {

}
